# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.dict-tmp/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/.gradle/
android/.idea/
android/.kotlin/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
edge-tts-server/.venv/
edge-tts-server/*.mp3
edge-tts-server/__pycache__/
scripts/__pycache__/
_disabled-kokoro/
小学館中日日中統合辞書第2版 有附录/
小学馆v3/
*.epub
assets/*.jpg
logo.*

# typescript
*.tsbuildinfo

# generated native folders
/ios

# IDE
.idea/
*.apk
*.zip
